header{
    background-color:gold;
    display: flex;
    justify-content:center;
    margin-bottom: 150px;
}
.main-div{
    margin: 120px 150px 160px 170px;
    display: grid;
    grid-template-columns:auto auto auto ;
    padding: auto;
    row-gap: 50px;
    justify-content: center;
    column-gap: 50px;
    flex-wrap: wrap;
}
.image{
    padding: 50px;
    justify-content: center;
}
.image:hover{
    transform: scale(1.05);
}
