.button{
    background-color: gold;
    padding: 14px 10px;
    border-radius: 20px;
    margin-bottom: 5px;
    cursor: pointer;
    font-size: 25px;
}
.dropdown{
    display: none;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.wrapper:hover .dropdown{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.option{
    cursor: pointer;
}
.option:hover{
    background-color: gold;
}
